#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(88, 88, 88, 0.58);
}

#modal-content {
  position: absolute;
  width: 440px;
  height: fit-content;
  padding:40px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

#modal-content input{
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid rgb(133, 133, 133);;
  background: none;
  border-radius: 5px;
}

#modal-content input:focus{
  outline:rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}
